*{
	margin-left: 3rem;
}
.title, .title-out, .title-inventory{
	margin-left: 30%;
}
.title-inventory{
	display:none;
}
.title{
	margin-top: 2rem;
}
.logo{
	float: left;
	margin-left: 15%;
}
.games-borrowed, .av-borrowed, .game-inventory, .av-inventory{
	width: 70%;
	border: 1px solid black;
	margin: 6rem auto;
}
.av-borrowed, .game-inventory, .av-inventory{
	display: none;
}
#side-nav{
	height: 100%;
	width: 0%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	padding-top: 5rem;
	transition: .5s;
	overflow-x: hidden;
}
#side-nav p{
	padding: .5rem .5rem .5rem 2rem;
	font-size: 2rem;
	color: gray;
	display: block;
	transition: .3s;
}
#side-nav p:hover{
	color: white;
	cursor: pointer;
}
.side-arrow{
	left: 0;
	top: 0;
	height: 100%;
	display: block;
	position: fixed;
	background-color: black;
	z-index: 1;
	width: 2rem;
	margin:0;
	padding:0;
}
.side-arrow p{
	margin: 0;
	margin-left: .5rem;
	position: fixed;
	display: block;
	z-index: 2;
	margin-top: 50%;
	color: gray;
	font-weight: bold;
	font-size: 2rem;
}
.close{
	display: none;
}
.side-arrow:hover{
	cursor: pointer;
}