html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
h1, p{
	margin: 0;
}
.column{
	float: left;
	width: 16%;
}
.clearfix:after{
	display: table;
	content: '';
	clear: both;
}
.title-inventory{
	display:none;
}
.logo{
	float: left;
}
.games-borrowed, .av-borrowed, .game-inventory, .av-inventory{
	border-bottom-style: solid;
} 
.av-borrowed, .game-inventory, .av-inventory{
	display: none;
}
.side-nav{
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: black;
	transition: .5s;
	border: 1px solid;
	margin:0;
	padding-right: 3rem;
	margin-left: -15rem;
}
.side-nav > p{
	text-align: center;
	font-size: 2rem;
	color: gray;
	display: block;
	transition: .3s;
}
.gaming-side{
	margin-top: 5rem;
}
.side-nav p:hover{
	color: white;
	cursor: pointer;
}
.side-arrow{
	display: block;
	z-index: 1;
	padding:0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);	
	webkit-transform: translateY(-50%);
	height: 35px;
	right: 0;
	margin: 0 1rem;
}
.side-arrow p{
	margin: 0;
	z-index: 2;
	color: gray;
	font-weight: bold;
	font-size: 2rem;
}
.close{
	display: none;
}
.side-arrow:hover{
	cursor: pointer;
}
.content{
	max-width: 800px;
	margin: 0 auto;
	border: 1px solid;
}
.new-borrow{
	margin-left: 50px;
}
.add{
	margin-left: 70px;
}
.overlay{
	width: 50%;
	height: 50%;
	transform: translateY(-50%);	
	webkit-transform: translateY(-50%);
	color: #fff;
	background: #808080;
	position: absolute;
	top: 50%;
	margin: 0 auto;
	z-index: 1000;
	display: none;
}
.av-new, .game-new, .av-borrow{
	display: none;
}
.template{
	display: none;
}
.data-rows{
	width: 100%;
}
.-blocked:before{
	position:absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-color: black;
}
@media (max-width: 414px){
	.column{
		float: none;
		width: 100%;
	}
	.headers{
		display: none;
	}
	.row>.column:nth-child(1):before{
		content: 'First Name: ';
	}
	.row>.column:nth-child(2):before{
		content: 'Last Name: ';
	}
	.row>.column:nth-child(3):before{
		content: 'Item: ';
	}
	.row>.column:nth-child(4):before{
		content: 'Returned?: ';
	}
	.row>.column:nth-child(5):before{
		content: 'Send Reminder?: ';
	}
	.row>.column:nth-child(6):before{
		content: 'Time Out: ';
	}
}
@media (max-width: 892px){
	.content{
		margin-left: 50px;
	}
}